h1 {
	color: navy;
	width: 300px;
	margin: 20px auto;
	background-color: #FF9500;
	padding: 50px;
	border: 5px solid black;
	text-shadow: 3px 3px 5px black;
}

img {
  display: block;
  margin: 0 auto;
}

body {
	background-color: white;
}